---
http_interactions:
- request:
    method: get
    uri: http://www.mta.info/status/serviceStatus.txt
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Last-Modified:
      - Fri, 22 Nov 2013 00:40:07 GMT
    body:
      encoding: UTF-8
      string: |
        <service>
          <responsecode>0</responsecode>
          <timestamp>11/21/2013 7:40:03 PM</timestamp>
          <subway>
            <line>
              <name>123</name>
              <status>DELAYS</status>
              <text>[2] is delayed</text>
              <Date></Date>
              <Time></Time>
            </line>
            <line>
              <name>456</name>
              <status>DELAYS</status>
              <text>[6] is 5 minutes late</text>
              <Date></Date>
              <Time></Time>
            </line>
            <line>
              <name>7</name>
              <status>GOOD SERVICE</status>
              <text />
              <Date></Date>
              <Time></Time>
            </line>
            <line>
              <name>ACE</name>
              <sta[...]
