// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ba3523;

// ----------------------------------------------------------------------------
// Widget-mantra styles
// ----------------------------------------------------------------------------
.widget-mantra {
  background-color: $background-color;

  &.large h3 {
    font-size: 65px;
  }
}
