<% content_for :title do %>NYC Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="movember"
        data-view="List"
        data-unordered="true"
        data-title="Movember"
        style="background-color:green; background-image:url('/assets/mustache.png'); background-repeat:no-repeat; background-position: center">
      </div>
    </li>
  </ul>
</div>

