<% content_for :title do %>NYC Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="citibikenyc"
        data-view="List"
        data-unordered="true"
        data-title="CitiBike"
        style="background-color:#20bcee;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mta" data-view="Mta"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#55acee;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="calendar_events" data-pre="0" data-view="Calendar" style="background-color:#18a15e;"></div>
    </li>
  </ul>
</div>

