<% content_for :title do %>Home Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="citibikenyc"
      data-view="List"
      data-unordered="true"
      data-title="CitiBike"
      data-moreinfo="# of bikes available at stations"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="forecast" data-view="Forecast" data-widget_title="<img src='http://forecast.io/favicon.ico' />Weather Forecast"> ></div>
    </li>
  </ul>
</div>

