---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/statuses.json?owner_screen_name=spilth&slug=pivotal-life
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="BKkDaF2Wg1lAgWKn67GQ", oauth_nonce="b17b536c057ecc2964c9867f3de459d0",
        oauth_signature="YgEp%2FlAUAz1fQPkqu7Wtq0VEUR0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1385342488", oauth_token="2191323085-az3gLwlCtCJfwtNB8EeJ7QZ7Xc8CRYRXSOn2qur",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 25 Nov 2013 01:21:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1385342574'
      X-Transaction:
      - 479dc8b657c5e684
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sun Nov 24 22:25:33 +0000 2013","id":404737580383895552,"id_str":"404737580383895552","text":"The
        Future of #UI: Returning to Nature http:\/\/t.co\/131rtVASdV","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootSuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":19097512,"id_str":"19097512","name":"Pivotal
        Labs","screen_name":"pivotallabs","location":"","description":"Pivotal Labs
        is a leading agile development company that builds consumer and enterprise
        web and mobile applications for innovative clients across industries.","url":"http:\/\/t.co\/aYGONZxIeD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/aYGONZxIeD","expanded_url":"http:\/\/www.pivotallabs.com","display_url":"pivotallabs.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":7855,"friends_count":2426,"listed_count":408,"created_at":"Sat
        Jan 17 02:13:18 +0000 2009","favourites_count":11,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":768,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/378800000021405260\/0c8a7bd70e0c1eaf8ae7d8d37ced1dec.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/378800000021405260\/0c8a7bd70e0c1eaf8ae7d8d37ced1dec.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2932324668\/624c76504c7d4f46e1dbcbf963a731b6_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2932324668\/624c76504c7d4f46e1dbcbf963a731b6_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/19097512\/1354653033","profile_link_color":"6D97CF","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":1,"entities":{"hashtags":[{"text":"UI","indices":[14,17]}],"symbols":[],"urls":[{"url":"http:\/\/t.co\/131rtVASdV","expanded_url":"http:\/\/tnw.co\/1emTiL1","display_url":"tnw.co\/1emTiL1","indices":[39,61]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Nov 23 23:25:17 +0000 2013","id":404390224459218944,"id_str":"404390224459218944","text":"What
        will the future of #UX #UI look like? http:\/\/t.co\/131rtVASdV","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootSuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":[...]
